// 1u is a 8px grid unit. 1u === 8px
$redText = #d3232c

.root
  background #eeeeee
  padding 2u 2u 0u 2u

/* POST */
.post
  align-items flex-start
  margin-top 2u

  &.first
    margin-top 0u

.avatarStyle
  width 4u
  height 4u
  border-radius 9999px

.aboutBlock
  margin-left 2u
  flex 1
  padding-bottom 2u
  border-bottom solid 2px #ddd

.postInfo
  flex-direction column
  flex 1

.details
  justify-content flex-start

.author
  color $redText
  font-size 1.5u
  text-decoration none

.date
  font-size 1.2u

.text
  color #666666
  text-transform none
  font-size 1.5u

.tags
  color $redText
  text-transform none
  font-size 1.5u
  margin-left 4px
  text-decoration none

.postIcons
  margin-top 1u
  justify-content space-between

.closeIcon
  margin-left 1u