// 1u is a 8px grid unit. 1u === 8px
$redText = #d3232c

.root
  background #eeeeee
  padding 2u 2u 0u 2u

/* POST */
.post
  align-items flex-start
  margin-top 2u

  &.first
    margin-top 0u

.aboutBlock
  margin-left 2u
  flex 1
  padding-bottom 2u
  border-bottom-width 2px
  border-color #ddd

.postInfo
  flex-direction column
  flex 1

.details
  justify-content flex-start

.author
  color $redText
  font-size 1.5u
  line-height 2u
  text-decoration none

.date
  font-size 1.4u
  line-height 2u
  margin-top 4px
  color #999

.text
  color #666666
  text-transform none
  font-size 1.5u
  line-height 2u
  margin-top 4px

.tags
  color $redText
  text-transform none
  font-size 1.5u
  line-height 2u
  margin-left 0.5u
  text-decoration none

.postIcons
  margin-top 1u
  justify-content space-between

.closeIcon
  margin-left 1u