// 1u is a 8px grid unit. 1u === 8px
$redText = #d3232c

.root
  background #dddddd
  padding 2u

.header
  align-items center

.eventType
  color $redText
  font-size 2u
  text-transform uppercase
  letter-spacing 4px

.event
  color $redText
  font-size 4u
  text-transform uppercase 
  line-height 5u
  letter-spacing 6px
  font-weight 300

.smallSep
  width 10u
  margin-top 1u

.posts
  margin-top 3u
  
.post
  justify-content flex-start
  margin-top 2u

  &.first
    margin-top 0u

.avatarStyle
  width 65px
  height 65px

.aboutBlock
  margin-left 2u

.aboutBlock
  flex 1
  
.postInfo
  justify-content space-between
  align-items center
  flex 1

.eventHeader
  font-size 1.6u
  color $redText
  text-transform uppercase
  text-decoration none
  font-weight 600

.place
  font-size 1.5u
  color #333
  text-transform uppercase
  font-weight 500

.time
  font-size 1.5u
  color #333
  text-transform uppercase
  font-weight 500

.sep
  margin-top 2u

  &.last
    display none
