// 1u is a 8px grid unit. 1u === 8px
$redText = #d3232c

.root
  background #eeeeee
  padding 2u 2u 4u 2u

.h2
  color $redText
  font-weight 300
  text-transform uppercase
  font-size 2.5u
  letter-spacing 4px
  line-height 3u

.h3
  color $redText
  font-weight 500
  text-transform uppercase
  font-size 1.3u
  letter-spacing 3px
  line-height 2u
  margin-top 2u

.title
  margin-top 2u

.description
  margin-top 1u

.suggContact
  justify-content space-between
  margin-top 2u
  align-items center

.additionalText
  font-size 1.3u
  line-height 2u
  color #777777

.mail
  color $redText
  text-transform uppercase
  font-size 1.4u
  line-height 2u
  text-decoration none

.postBtn
  text-transform uppercase
  font-size 1.4u
  line-height 2u
  color #777777
  padding 1u 2u
  border solid 1px #777777
