// 1u is a 8px grid unit. 1u === 8px
$redText = #d3232c

.navigation
  background #ddd
  padding 2u

.item
  text-transform uppercase
  color $redText
  font-weight 300
  font-size 1.5u
  line-height 2u
  text-decoration none

.faCaretUp 
  position absolute
  top 56px
  left 35px