// 1u is a 8px grid unit. 1u === 8px
$redText = #d3232c

.navigation
  background #ddd
  padding 2u

.item
  text-transform uppercase
  color $redText
  font-weight 300
  font-size 12px
  text-decoration none