// 1u is a 8px grid unit. 1u === 8px
$redText = #d3232c
.navigation
  background #ddd
  padding 2u 0u

.menuBlock
  padding 2u 1u
  margin-left 0u
  &.first
    margin-left 1u

.item
  text-transform uppercase
  color $redText
  font-weight 300
  font-size 1.5u
  line-height 2u
  text-decoration none
  +tablet()
    font-size 1.5u
  +desktop()
    font-size 1.6u
  +wide()
    font-size 1.8u

.faCaretUp 
  position absolute
  top 56px
  left 18px