// 1u is a 8px grid unit. 1u === 8px
$redText = #d3232c

.root
  background #ffffff
  padding 3u

.wrapper
  margin 0 auto
  text-align center

.slogan
  width 221px
  height 35px

.text
  color $redText
  text-transform uppercase
  line-height 3u