// 1u is a 8px grid unit. 1u === 8px
$redText = #d3232c

.root
  background #eeeeee
  padding 3u
  justify-content space-around

.block
  width 80px
  text-align center
  align-items center

.link
  color $redText
  text-decoration none
  text-transform uppercase
  margin-top 1u
  text-align center
  font-size 1.6u