// 1u is a 8px grid unit. 1u === 8px
$redText = #d3232c

.root
  background #eeeeee
  padding 2u
  border-bottom-width 2px
  border-color #ddd
  flex-wrap nowrap
  flex-direction row

.aboutBlock
  margin-left 2u
  flex 1


