// 1u is a 8px grid unit. 1u === 8px
$redText = #d3232c

.root
  background #ffffff
  padding 2u

.post
  align-items flex-start
  margin-top 3u

  &.first
    margin-top 0u

.counterBlock
  border-radius 9999px
  border solid 1px #000000

.couter
  font-size 2.5u
  font-weight 300
  padding 2u

.aboutBlock
  margin-left 2u
  flex 1

.h4
  font-size 2u
  text-transform uppercase
  letter-spacing 3px

.author
  color $redText
  font-size 1.5u
  text-decoration none

.date
  font-size 1.2u
  margin-left 1u

.text
  color #666666
  text-transform none
  font-size 1.8u
  margin-top 1u

.postIcons
  margin 1u 0u
  justify-content space-between

.voteIcon
  align-items center

.vote
  text-transform uppercase
  font-size 1.5u
  color $redText
  font-weight 500
  margin-left 4px

.numVotes
  color #999

.manageIcons
  align-items center

.heartIcon
  margin-left 4px

.manage
  text-transform uppercase
  font-size 1.5u
  color $redText
  font-weight 500
  margin-left 4px